<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AMT Automation LOU- Broker - Ownbook ">

		<test thread-count="5" name="Broker Business Hire and LOU accept flow">
		<classes>		
			<!-- Group 1 - Generate New Quote for Broker Business and LOU accept flow for the same -->
			<class name="com.amt.test.broker.Acquisition_Quotes_Broker_BCH_without_maintenance_Test" />
			<class name="com.amt.test.LOU.LOU_broker_business_hire_accept_flow_Test" />			
	
		</classes>
	</test> 
	

	
		<test thread-count="5" name="Broker Business purchase and LOU accept">
		<classes>			
			<!-- Group 1 - Generate New Quote for Broker Business and LOU accept flow for the same -->
			<class name="com.amt.test.broker.Acquisition_Quotes_Broker_HPNR_Test" />
			<class name="com.amt.test.LOU.LOU_broker_business_purchase_accept_flow_Test" />		
		</classes>
	</test> 
	
  <test thread-count="5" name="Ownbook business hire Accet">
    <classes>	
		<!-- Ownbook business hire flow without additional term and mileage  -Accept Flow-->
	  <class name="com.amt.test.HPNR.Acquisition_Quotes_HPNR_BCH_without_maintenance_Test"/>
      <class name="com.amt.test.LOU.LOU_ownbook_business_hire_accept_with_changes_Test"/> 
      </classes>    
  </test> <!-- Test -->
  
    <test thread-count="5" name="Ownbook business hire Accet with Additional Term And Mileage">
    <classes>	
       <!-- Ownbook business hire flow with additional term and mileage -Accept Flow-->
	  <class name="com.amt.test.HPNR.Acquisition_Quotes_HPNR_BCH_without_maintenance_with_add_term_mileage_Test"/>
      <class name="com.amt.test.LOU.LOU_ownbook_business_hire_accept_with_changes_Test"/>
      
    </classes>    
  </test> <!-- Test -->
  
    <test thread-count="5" name="Ownbook business hire Accet with funder">
    <classes>	
     
       <!-- Ownbook business hire flow with funder -Accept Flow-->    
      <class name="com.amt.test.HPNR.Acquisition_Quotes_HPNR_BCH_with_funder_quote_addition_without_maintenance_Test"/> 
      <class name="com.amt.test.LOU.LOU_ownbook_business_hire_funder_accept_with_changes_Test"/>
      
    </classes>    
  </test> <!-- Test -->


  <test thread-count="5" name="Ownbook business purchase flow without additional term and mileage  -Accept Flow">
    <classes>		
	  <!-- Ownbook business purchase flow without additional term and mileage  -Accept Flow-->
	  <class name="com.amt.test.HPNR.Acquisition_Quotes_HPNR_HPNR_without_maintenance_Test"/>  	
      <class name="com.amt.test.LOU.LOU_ownbook_business_purchase_accept_with_changes_Test"/> 

    </classes>
  </test> <!-- Test -->
  
    <test thread-count="5" name="Ownbook business purchase flow with additional term and mileage  -Accept Flow">
    <classes>     
  
  	  <!--Ownbook business purchase flow with additional term and mileage  -Accept Flow-->
	  <class name="com.amt.test.HPNR.Acquisition_Quotes_HPNR_HPNR_without_maintenance_with_add_term_mileage_Test"/>  	
      <class name="com.amt.test.LOU.LOU_ownbook_business_purchase_accept_with_changes_Test"/> 
      

    </classes>
  </test> <!-- Test -->
  
    <test thread-count="5" name="Ownbook business purchase flow with funder  -Accept Flow">
    <classes>      
  	  <!-- Ownbook business purchase flow with funder  -Accept Flow--> 
  	  <class name="com.amt.test.HPNR.Acquisition_Quotes_HPNR_HPNR_with_funder_quote_addition_without_maintenance_Test"/>  	
      <class name="com.amt.test.LOU.LOU_ownbook_business_purchase_funder_accept_with_changes_Test"/>

    </classes>
  </test> <!-- Test -->

	
</suite><!-- Suite -->
